.container{
    padding: 0 3rem;
    position: relative;
    color: white;
}

.wrapper{
    display: flex;
    background: green;
    padding: 120px;
    border-radius: 10px;
    gap: 100px;
}

.title{
    font-size: 36px;
    margin-bottom: 20px;
}

.text{
    margin-bottom: 30px;
}

.button{
    padding: 10px;
    border: none;
    background-color: rgb(211, 53, 14);
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
}





.flex{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.imgContainer{
    position: relative;
}
.img1, .img2, .img3{
    border-radius: 10px;
}

.img2{
    position: absolute;
    left:-100px;
    bottom: 1px;
    rotate: -20deg;
}
.img3{
    position: absolute;
    bottom: -3px;
    right: -80px;
    rotate: 20deg;
}

@media screen and (max-width: 768px){
    .wrapper{
        display: flex;
        flex-direction: column;
        background: green;
        padding: 10px;
        border-radius: 10px;
        gap: 10px;
    }
    .img1{
        width: 350px;
        height: 300px;
    }
    .img2, .img3{
        width: 200px;
        height: 150px;
    }
    .img2{
        left: -30px;
    }
    .img3{
        right: -40px;
    }
}